$body-bg: #d3d1d0;
$primary: #961f39;
$secondary: #924e83;
$success: #40c5be;
$info: #922260;
$warning: #fbcf33;
$danger: #912929;
$light: #e5e5e5;
$dark: #271119;
$grey: #cbcbcb;

$modal-transition: transform .15s cubic-bezier(.43, -1.05, .68, 1.78);
$modal-fade-transform: rotate(90deg);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);